.ipick-container
{
    padding:15px;
    background:#fff;
    border-radius:5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    font-size:20px;
    position:absolute;
    z-index:9999;
    margin-top:10px;
    
    td
    {
        padding:12px;
        width:30px;
        border:1px solid darken(#fff,2);
        text-align:center;
        max-width:30px;
        vertical-align:middle;
        cursor:pointer;
    }
    
    .ipick-icons-tab
    {
        display:none;
    }
    
    .ipick-icons-tab-current
    {
        display:block !important;
    }
    
    .ipick-navigation
    {
        margin-top:5px;
        font-size:12px;
        
        .ipick-nav-previous
        {
            float:left;
        }
        
        .ipick-nav-next
        {
            float:right;
        }
    }
    
}

.ipick-container:after 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -8px;
    left: 16px;
}

.ipick-container:before 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: darken(#fff,2) transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -8px;
    left: 16px;
}